{% extends "base.njk" %}

{% block head %}
<style>
body, html {
    margin: 0;
    padding: 0;
}

canvas {
    display: block;
}
</style>
{% endblock %}

{% block body %}
<canvas id="canvas"></canvas>

{% for script in meta.scripts %}
<script src="/js/{{ script }}"></script>
{% endfor %}

<script>
{{ content | safe }}
</script>
{% endblock %}